{% extends 'aquarium/base.html' %}
{% load static %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="center-box">
        <p class="date mt-5">{{ date|date:'l, H:i, j.n.Y' }}</p>
        </div>
        <hr class="mt-5">

            <div class="row">
                <div class="col-md">
                    <div class="content_section">
                          {%  for feeding in feedings %}
                                <h4>{{ feeding.notif_title }}</h4>
                                <p2> The Fish were last fed by {{ feeding.by_whom }} on {{ feeding.date_fed|date:'l, H:i, j.n.Y'  }}</p2>
                          {% endfor %}
                        <hr class="mt-5">
                        <button type="button" class="dynamic-button" onclick="window.location.href='/feeding-log/';">Go to details</button></a>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="content_section">
                        <h4 style="text-align: center">Watch aquarium's webcam live!</h4>
                        <div class="iframe-container">
                            <iframe src="https://www.youtube.com/embed/wNcwiMcbiWg?autoplay=1&rel=0&iv_load_policy=3&color=white" width="560" height="315" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>


                <div class="col-md">
                    <div class="content_section">
                            {%  for water_change in  water_changes %}
                                <h4>{{ water_change.notif_title }}</h4>
                                <p2> The water in the tank was last changed by {{ water_change.by_whom }} on {{ water_change.date_waterchanged|date:'l, H:i, j.n.Y'  }}</p2>

                            {% endfor %}
                            <hr class="mt-5">
                            <button type="button" class="dynamic-button" onclick="window.location.href='/waterchange-log/';">Go to details</button></a>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="content_section">
                            <div class="center-box">
                                <form method="POST" class="temp-buttons-form">
                                    <p >The aquarium light is now {% if  light.light_state == True %} On {% else %} Off {% endif %}</p>
                                    <button type="button" class="dynamic-button" onclick="window.location.href='/lighton/';">On</button>
                                    <button type="button" class="dynamic-button" onclick="window.location.href='/lightoff/';">Off</button>
                                </form>
                            </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content_section">
                        <div class="center-box">
                            <p >Current water temperature is {{ temperature.temp }}<span>&#176;</span>C</p>
                            <div>
                                <form method="POST" class="temp-buttons-form">
                                    <button type="button" class="dynamic-button" onclick="window.location.href='/increase/';">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button type="button" class="dynamic-button ml-3" onclick="window.location.href='/decrease/';">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="content_section">
                        <div class="center-box">
                                <form method="POST" class="temp-buttons-form">
                                    <p >The bulbulator is {% if  bulbulator.bulbulator_state == True %} active {% else %} inactive {% endif %}</p>
                                    <button type="button" class="dynamic-button" onclick="window.location.href='/bulbulatoron/';">On</button>
                                    <button type="button" class="dynamic-button" onclick="window.location.href='/bulbulatoroff/';">Off</button>
                                </form>
                            </div>
                    </div>
                </div>
            </div>

    {% else %}
        <div class="center-box">
            <h5 class="display-3 mt-5">This is your aquarium's control panel.</h5>
            <h5>Log in to make readings of parameters and control them</h5>
        </div>
    {% endif %}

{% endblock content %}
