{% extends 'aquarium/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="center-box">
        <p class="date mt-5">{{ date|date:'l, H:i, j.n.Y' }}</p>
        <legend class="border-bottom mb-4">You changed aquarium's water recently? Share this info with other maintainers!</legend>

                <button class="dynamic-button" type="submit" onclick="window.location.href='/waterchange-log/new/';"> <i class="fas fa-water"></i> Change water now!
                    <i class="fas fa-water"></i>
                </button>

            <div class="content_section">
                    <h1>{{ waterchange.notif_title }}</h1>
                  {%  for waterchange in waterchanges %}
                            <h1></h1>
                        <p2> The water was last changed by {{ waterchange.by_whom }} on {{ waterchange.date_waterchanged|date:'l, H:i, j.n.Y'  }}</p2>
                  {% endfor %}


                  <hr class="mt-5">
                  {% if is_paginated %}
                      {% if page_obj.has_previous %}
                            <a class="dynamic-button " href="?page=1">First</a>
                            <a class="dynamic-button " href="?page={{ page_obj.previous_page_number }}">Previous</a>
                      {% endif %}

                      {% for num in page_obj.paginator.page_range  %}
                            {% if page_obj.number == num %}
                                   <a class="dynamic-button " href="?page={{ num }}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                    <a class="dynamic-button " href="?page={{ num }}">{{ num }}</a>
                            {% endif %}
                      {% endfor %}

                            {% if page_obj.has_next %}
                                <a class="dynamic-button " href="?page={{ page.obj.next_page_number }}">Next</a>
                                <a class="dynamic-button " href="?page={{ page_obj.paginator.num_pages }}">Last</a>

                            {% endif %}

                      {% endif %}



            </div>



    </div>
{% else %}
    <div class="center-box">
        <h5 class="display-3 mt-5">This is your aquarium's control panel.</h5>
        <h5>Log in to make readings of parameters and control them</h5>
    </div>
{% endif %}
{% endblock content %}