{% extends "aquarium/base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}

            <fieldset class="form-group mt-3">
                <legend class="border-bottom mb-4">You changed aquarium's water recently? Share this info with other maintainers!</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="dynamic-button" type="submit">Mark the water as changed</button>
            </div>
        </form>
    </div>
{% endblock content %}