/*Nothing here*/
body {
    background-color: #48d1cc;
}

hr {
    background-color: #191970;
}

.bg-steel {
  background-color: #191970;
}

.center-box {
    text-align: center;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {

    height: 60px;
    background-color: #48d1cc;
    color: #191970;
    text-align: center;
}

.content_section {
    padding: 10px 20px;
    border: 1px solid #191970;
    border-radius: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
 }

.dynamic-button {
    border: solid 2px #191970;
    background-color: #48d1cc;
    color: #191970;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
    font-size: 2vw;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.1s
}

.dynamic-button:hover {
    border: solid 2px #313131;
    background-color: #191970;
    color: #48d1cc;
}

.date {
    color: #191970;
    margin-top: 10px;
    font-size: 2.5vw;
}